﻿<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PollBox</title>
		<link rel="icon" href="/Content/icon.png">
		<link href="/Content/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<a class="plain" href="/"><img src="/Content/logo.png" /></a>
		</header>
		<section class="main_content">
			@RenderBody()
		</section>
		<div></div>
		<footer>
           <a href="/manuel">Manuel d'utilisation</a> | <a href="/confidentialite">Confidentialité</a> | <a href="/apropos">A propos</a>
		</footer>
	</body>
</html>

