﻿<div class="boxNew">
   <h2>A propos:</h2>
    
    <p>
        Le site PollBox est développée dans le but de pouvoir créer, voter, partager et éventuellement désactiver des sondages.
        Cette application a été créée par Porcher Nathan, Tran Thi My Phuong, Dubois Jean-Renaud.
    </p>
    <p>
        Ce site fonctionne très bien sur des navigateur moderne (FireFox, Google Chrome...)
    </p>
</div>
