<div class ="box">
	<h2>
		Votre sondage a été bien désactivé !<br />
		Vous ne pouvez plus voter mais vous pouvez toujours consuter ses résultats
	</h2>

	<form method="get" action="/">
		<p>
			<input class="bt_link" type="submit" value="Retourner à la page d'accueil." />
		</p>
	</form>
</div>
