@model PollBox.Models.Credentials
<div class="box">
	<h2>Etes-vous sur de désactiver votre sondage ?</h2>
	<form method="post" action="/DeactivateConfirmed/@(Model.Id)?key=@(Model.Key)">
		<input type="submit" value="Oui" />
	</form>
	<form method="post" action="/Results/@(Model.Id)">
		<input type="submit" value="Non" />
	</form>
</div>
