@model PollBox.Exceptions.EIncompletePoll
<div class="box">
Votre sondage n'est pas valide.
@Model.Message
<form method="get" action="\new">
	<p>
		<input class="bt_link" type="submit" value="Retourner à la page de création" />
	</p>
</form>
</div>
