<div class="box">
	<h2>Bienvenue sur PollBox</h2>
	<p>PollBox est un site web qui vous permet de créer des sondages, et de les partager avec qui vous voulez.</p>
	<div class="h_center">
		<form method="get" action="New">
			<input class="bt_link" type="submit" value="Créer un sondage" />
		</form>
	</div>
</div>

