@model PollBox.Models.Credentials

<section class="box">
	<h2>Vous avez bien créé votre sondage</h2>

	<h3>
		<a href="/Deactivate/@Model.Id?key=@Model.Key"> Veuillez bien conserver ce lien de suppression pour pouvoir désactiver votre sondage plus tard ! </a>
	</h3>
	<h3>
		<a href="/Results/@Model.Id"> Lien de consultation de résultat de votre sondage</a>
	</h3>
	<h3>
		<a href="/Vote/@Model.Id"> Lien de vote de votre sondage </a>
	</h3>
</section>
