﻿<div class="boxNew">
  <h2>Manuel d'utilisation:</h2>
    <br />
    <h3><b><u>Procédure pour créer un sondage:</u></b></h3>
    <br />
   <p>1. A la page d'accueil cliquez sur "Créer un sondage".</p>
   <p>2. Saisissez une question puis les réponses<br></p>
    <ul>
        <li>Par défaut, chaque personne ne peut voter que pour une seule réponse et ne peut voter qu'une seule fois.</li>
        <li>- Pour autoriser les réponses multiples, cochez la case "L'utilisateur peut entrer plusieurs choix".</li>
        <li>- Pour autoriser le multi-vote par ordinateur, il faut décocher la case "La protection contre vote doubles est activée" et bloquer le cookie.</li>
    </ul>
    <p>3. Cliquez sur le bouton "créer".</p>
    <p>4. Une fois le sondage créé, 3 liens sont générés:</p>
    <ul>
        <li>- Un lien de déactivation qui vous permet de désactiver le sondage.</li>
        <li><i>Pour récupérer le lien, il faut cliquer sur ce lien et copier l'adresse de la page affichée</i></li>
        <li>- Un lien qui amène sur la page de vote, à copier pour partager</li>
        <li>- Un lien de résultat qui vous permet d'accéder au résultat de votre sondage.</li>
    </ul>
</div>


