@model uint
<section class="boxNew">
	<noscript>
		<!-- should be inside the other form but it isn't supported -->
		<form method="GET" action="/new">
			<a>choice count</a>
			<input name="nfields" type="number" min="2" step="1" value="@Model">
			<input type="submit" value="request more fields">
		</form>
	</noscript>
	<form method="POST" action="/Create">
		<input type="text" name="question" class="new_input question" autofocus placeholder="Saisissez une question">

		<noscript>
			<ul>
				@* input fields for users without javascript *@
				@{
					for (uint i = 0; i < Model; i++) {
						<li><input class="new_input" name="@i" type="text" placeholder="Saisissez un choix"/></li>
				}}
			</ul>
		</noscript>
		
		<!-- must only contain <li><input> -->
		<ul id="inputs">
		</ul>
		<script src="/Scripts/create/dynamic_input_fields.js"></script>

		<input id="b1" name="canPickMultiple" type="checkbox" value="true">
		<label for="b1">L'utilisateur peut entrer plusieurs choix.</label>
		<br/>
		<input id="b2" name="needsVoteDedup" checked="checked" type="checkbox" value="true">
		<label for="b2">La protection contre vote doubles est activée.</label>

		<div class="h_center">
			<input type="submit" value="créer">
		</div>
	</form>
</section>
