﻿@model int
<div class="box">  
	<h2 class="redtext">Ce sondage est désactivé. Vous ne pouvez plus voter desuss.</h2>
	<br />
	<a href="/Results/@Model">Cliquez ici pour accéder aux résultats du sondage.</a>
</div>
