@model PollBox.Models.ResultsPoll
@Html.Raw(Svg.Chart.Gen(Model.Choices, "chart"))
<script src="/Scripts/results/update.js"></script>
<div class="v_center">
	<div class="box" style="min-width: 40vw">
		<h1>@Model.Question</h1>
		<table>
			<tbody id="choices">
				<!-- the update scripts makes assumpions about the layout of this table -->
				@{
					foreach (var choice in Model.Choices)
					{
						<tr>
							<td class="colorhint" style="background-color: @(choice.color)"></td>
							<td><strong>@choice.Name</strong></td>
							<td id="@choice.Id">@choice.NbPicked</td>
						</tr>
					}
				}
			</tbody>
		</table>
		<p><em id="nb_voter">@Model.NbVoter</em><em> votants</em></p>
	</div>
</div>
