@model PollBox.Models.VotePoll
<div class="box">
	<h2>@Model.Question</h2>
	<form method="post" action="/AddVote/@Model.IdPoll">
		<ul>
		@{
			foreach (var choice in Model.Choices)
			{
				<li>
					@{if (Model.Multichoices) {
						<input id="l@(choice.Id)" name="@choice.Id" type="checkbox">
					}
					else
					{
						<input id="l@(choice.Id)" name="singleChoiceId" value="@choice.Id" type="radio">
					}}
					<label for="l@(choice.Id)">@choice.Name</label>
				</li>
			}
		}
		</ul>
		<input class="bt_link" type="submit" value="Voter" />
	</form>
</div>
